.account_container {
  min-width: 400px;
}

.account_hide_on_already_exist {
  display: none;
  margin-bottom: 0px
}

.account_hide_on_already_exist.is-visible {
  display: block;
  margin-bottom: 20px
}

.account_hide_on_not_linked {
  display: none;
  margin-bottom: 0px
}

.account_hide_on_not_linked.is-visible {
  display: block;
  margin-bottom: 20px
}

.account_hide_on_linked {
  display: none;
  margin-bottom: 0px
}

.account_hide_on_linked.is-visible {
  display: block;
  margin-bottom: 20px
}

@media (max-width: 600px) {
  .account_container {
    min-width: 200px;
  }
}
